<div class="col-sm-6 dnf-center-element">
    <ngb-accordion *ngIf="task" #aac="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel [title]="formName">
            <template ngbPanelContent>
                <div class="row-fluid">
                    <div class="span6">
                        <form class="form" #taskForm="ngForm">

                            <div class="form-group">
                                <label for="title">Title:</label>
                                <input type="text" class="form-control" id="title"
                                       name="title" [(ngModel)]="task.title"
                                       #title="ngModel" maxlength="255" required>
                                <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                                    Title is required!
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="deadline">Deadline: </label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" id="deadline"
                                           name="deadline" [(ngModel)]="task.deadLine" ngbDatepicker #d="ngbDatepicker"
                                           #deadline="ngModel" dateInFuture required>
                                    <div class="input-group-addon" (click)="d.toggle()">
                                        <img src="assets/icons/calendar-icon.svg"
                                             style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                                    </div>
                                </div>
                                <div [hidden]="!deadline.errors?.dateInFuture" class="alert alert-danger">
                                    Date must be valid and not in the past!
                                </div>
                                <div [hidden]="!deadline.errors?.required " class="alert alert-danger">
                                    Date is required!
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="dsc">Description: </label>
                                <input type="text" class="form-control" [(ngModel)]="task.description"
                                       [ngModelOptions]="{standalone: true}" id="dsc">
                            </div>

                            <div class="form-group">
                                <label class="col-xs-3 control-label">Priority</label>
                                <div class="col-xs-5 selectContainer">
                                    <select [(ngModel)]="task.priority" class="form-control" name="priority">
                                        <option class="dnf-select-option"
                                                *ngFor="let priority of priorityProvider.retrievePriorityOptions(); let i = index"
                                                [value]="i">
                                            {{priority.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="estimate">Estimate time (minutes): </label>
                                <input type="number" class="form-control" id="estimate"
                                       name="estimate" [(ngModel)]="task.estimateTime"
                                       #estimate="ngModel" [min]="0" [max]="9999" pattern="\-?[0-9]+" required>
                                <div [hidden]="!estimate.errors?.pattern" class="alert alert-danger">
                                    Time must be an integer!
                                </div>
                                <div [hidden]="!estimate.errors?.required " class="alert alert-danger">
                                    Time is required!
                                </div>
                                <div [hidden]="!estimate.errors?.min && !estimate.errors?.max"
                                     class="alert alert-danger">
                                    Time must have value from 0 to 9999!
                                </div>
                                <button class="mt-1 btn btn-info" (click)="estimatedTimePrediction()"
                                        [disabled]="!title.valid">Estimate
                                </button>
                            </div>

                            <div class="dnf-right-element">
                                <button *ngIf="discardEnable" class="btn btn-danger m-1" (click)="discard()">
                                    Cancel
                                </button>
                                <button class="btn btn-success m-1" (click)="confirm(); taskForm.resetForm()"
                                        [disabled]="!taskForm.form.valid">
                                    Save
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </template>
        </ngb-panel>
    </ngb-accordion>
</div>