<div class="slds-notify_container">
    <ngl-notification *ngIf="alertConfig.show" type="alert" [severity]="alertConfig.type"
                      (nglNotificationClose)="onAlertClose($event)"
                      [timeout]="alertConfig.timeout" class="slds-theme--alert-texture">
        <h3>{{alertConfig.message}}</h3>
    </ngl-notification>
</div>

<task-form [task-model]="task"
           form-name="Edit task"
           (confirm-clicked)="save($event)"
           (discard-clicked)="cancel($event)"></task-form>