<div class="container">
    <div class="slds-notify_container">
        <ngl-notification *ngIf="alertConfig.show" type="alert" [severity]="alertConfig.type"
                          (nglNotificationClose)="alertConfig.onClose($event)"
                          timeout="alertConfig.timeout" class="slds-theme--alert-texture">
            <h2>{{alertConfig.message}}</h2>
        </ngl-notification>
    </div>

    <ngb-accordion #aac="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Log In">
            <template ngbPanelContent>
                <div class="row-fluid">
                    <div class="span6">
                        <form class="form" #loginForm="ngForm">
                            <!--E-MAIL-->
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input id="email" name="email" type="email" class="form-control"
                                       [(ngModel)]="loginData.email"
                                       #email="ngModel" required email>
                                <div *ngIf="email.errors?.required && email.touched" class="alert alert-danger">
                                    Email is required
                                </div>
                                <div *ngIf="email.errors?.email && !email.errors?.required && email.touched" class="alert alert-danger">
                                    Not valid email
                                </div>
                            </div>

                            <!--PASSWORD-->
                            <div class="form-group">
                                <label for="password">Password: </label>
                                <input id="password" name="password" type="password"
                                       class="form-control" [(ngModel)]="loginData.password"
                                       #password="ngModel" required minlength="4">
                                <div *ngIf="password.errors?.required && password.touched" class="alert alert-danger">
                                    Password is required
                                </div>
                                <div *ngIf="password.errors?.minlength && !password.errors?.required && password.touched" class="alert alert-danger">
                                    Password must have at least 4 characters
                                </div>
                            </div>

                            <!--LOGIN BUTTON-->
                            <div>
                                <div class="span1 offset-11">
                                    <button class="btn btn-primary" (click)="login()"
                                            [disabled]="!loginForm.form.valid">Log In
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </template>
        </ngb-panel>
    </ngb-accordion>
</div>