<div class="container">
    <div class="slds-notify_container">
        <ngl-notification *ngIf="alertConfig.show" type="alert" [severity]="alertConfig.type"
                          (nglNotificationClose)="alertConfig.onClose($event)"
                          [timeout]="alertConfig.timeout" class="slds-theme--alert-texture">
            <h2>{{alertConfig.message}}</h2>
        </ngl-notification>
    </div>

    <ngb-accordion #aac="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Add task">
            <template ngbPanelContent>
                <div class="row-fluid">
                    <div class="span6">
                        <form class="form" #addForm="ngForm">

                            <div class="form-group">
                                <label for="title">Title:</label>
                                <input type="text" class="form-control" id="title"
                                       name="title" [(ngModel)]="task.title"
                                       #title="ngModel" maxlength="255" required>
                                <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                                    Title is required!
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="deadline">Deadline: </label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" id="deadline"
                                           name="deadline" [(ngModel)]="task.deadLine" ngbDatepicker #d="ngbDatepicker"
                                           #deadline="ngModel" dateInFuture required>
                                    <div class="input-group-addon" (click)="d.toggle()">
                                        <img src="assets/icons/calendar-icon.svg"
                                             style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                                    </div>
                                </div>
                                <div [hidden]="!deadline.errors?.dateInFuture" class="alert alert-danger">
                                    Date must be valid and not in the past!
                                </div>
                                <div [hidden]="!deadline.errors?.required " class="alert alert-danger">
                                    Date is required!
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="dsc">Description: </label>
                                <input type="text" class="form-control" [(ngModel)]="task.description"
                                       [ngModelOptions]="{standalone: true}" id="dsc">
                            </div>

                            <div class="form-group">
                                <label for="prior">Priority (0 - 100): </label>
                                <input type="number" class="form-control" id="prior"
                                       name="prior" [(ngModel)]="task.priority"
                                       #prior="ngModel" [min]="0" [max]="100" pattern="\-?[0-9]+" required>
                                <div [hidden]="!prior.errors?.pattern" class="alert alert-danger">
                                    Priority must be an integer!
                                </div>
                                <div [hidden]="!prior.errors?.required " class="alert alert-danger">
                                    Priority is required!
                                </div>
                                <div [hidden]="!prior.errors?.min && !prior.errors?.max" class="alert alert-danger">
                                    Priority must have value from 0 to 100!
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="estimate">Estimate time (minutes): </label>
                                <input type="number" class="form-control" id="estimate"
                                       name="estimate" [(ngModel)]="task.estimateTime"
                                       #estimate="ngModel" [min]="0" [max]="9999" pattern="\-?[0-9]+" required>
                                <div [hidden]="!estimate.errors?.pattern" class="alert alert-danger">
                                    Time must be an integer!
                                </div>
                                <div [hidden]="!estimate.errors?.required " class="alert alert-danger">
                                    Time is required!
                                </div>
                                <div [hidden]="!estimate.errors?.min && !estimate.errors?.max"
                                     class="alert alert-danger">
                                    Time must have value from 0 to 9999!
                                </div>
                                <button class="btn btn-info" (click)="estimatedTimePrediction()"
                                        [disabled]="!title.valid">Estimate
                                </button>
                            </div>

                            <div class="span1 offset-11">
                                <button class="btn btn-primary" (click)="addTask(); addForm.resetForm()"
                                        [disabled]="!addForm.form.valid">Add
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </template>
        </ngb-panel>
    </ngb-accordion>
</div>