<div class="container">
    <ngb-accordion #aac="ngbAccordion" activeIds="ngb-panel-0">
        <ngb-panel title="Add task">
            <template ngbPanelContent>
                <div class="row-fluid">
                    <div class="span6">
                        <form class="form" #addForm="ngForm">

                            <div class="form-group">
                                <label for="title">Title:</label>
                                <input type="text" class="form-control" id="title"
                                       name="title" placeholder="Something to do..."
                                       [(ngModel)]="task.title"
                                       #title="ngModel" maxlength="255" required>
                                <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
                                    Title is required!
                                </div>
                            </div>

                            <div class="form-group">
                                <label>Deadline: </label>
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                           name="dp" [(ngModel)]="task.deadLine" ngbDatepicker #d="ngbDatepicker">
                                    <div class="input-group-addon" (click)="d.toggle()">
                                        <img src="assets/icons/calendar-icon.svg"
                                             style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="dsc">Description: </label>
                                <input type="text" class="form-control" [(ngModel)]="task.description"
                                       [ngModelOptions]="{standalone: true}" id="dsc">
                            </div>

                            <div class="form-group">
                                <label for="prior">Priority (0 - 100): </label>
                                <input type="number" class="form-control" id="prior"
                                       [(ngModel)]= "task.priority"
                                       name="prior" #prior="ngModel" [min]="0" [max]="100" required>
                                <div [hidden]="!prior.errors?.required " class="alert alert-danger">
                                    Priority is required!
                                </div>
                                <div [hidden]="!prior.errors?.min && !prior.errors?.max" class="alert alert-danger">
                                    Priority must have value from 0 to 100!
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="estimate">Estimate time (minutes): </label>
                                <input type="text" class="form-control" [(ngModel)]="task.estimateTime"
                                       [ngModelOptions]="{standalone: true}" id="estimate">
                            </div>

                            <div class="span1 offset-11">
                                <button class="btn btn-primary" (click)="addTask(); addForm.resetForm()" [disabled]="!addForm.form.valid" >Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </template>
        </ngb-panel>
    </ngb-accordion>
</div>