<div class="container">
    <div class="slds-notify_container">
        <ngl-notification *ngIf="alertConfig.show" type="alert" [severity]="alertConfig.type"
                          (nglNotificationClose)="alertConfig.onClose($event)"
                          [timeout]="alertConfig.timeout" class="slds-theme--alert-texture">
            <h2>{{alertConfig.message}}</h2>
        </ngl-notification>
    </div>

    <!--CURRENT TASKS-->
    <h1>Current tasks</h1>
    <div *ngFor="let _task of getCurrentTasks()">
        <task-view [task]="_task"></task-view>
        <button class="btn btn-primary btn-sm" (click)="deleteTask(_task)">Delete</button>
        <button class="btn btn-primary btn-sm" (click)="editTask(_task)">Edit</button>
    </div>
    <!--NO TASKS ALERT-->
    <div class="alert alert-info" role="alert" *ngIf="getCurrentTasks().length==0">
        You have no active tasks
    </div>

    <!--HISTORICAL TASKS-->
    <h1>Historical tasks</h1>
    <div *ngFor="let _task of getHistoricalTasks()">
        <task-view [task]="_task"></task-view>
        <button class="btn btn-primary btn-sm" (click)="deleteTask(_task)">Delete</button>
    </div>
    <!--NO HISTORICAL TASKS ALERT-->
    <div class="alert alert-info" role="alert" *ngIf="getHistoricalTasks().length==0">
        You have no historical tasks
    </div>

</div>

