<div class="slds-notify_container">
    <ngl-notification *ngIf="alertConfig.show" type="alert" [severity]="alertConfig.type"
                      (nglNotificationClose)="alertConfig.onClose($event)"
                      [timeout]="alertConfig.timeout" class="slds-theme--alert-texture">
        <h6>{{alertConfig.message}}</h6>
    </ngl-notification>
</div>
<button *ngIf="expiredTaskAmount > 0" class="btn btn-lg btn-outline-danger col-md-6 offset-md-3"
        (click)="openModal(content)">
    {{expiredTaskAmount}} of your tasks expired since your last visit
</button>

<div class="jumbotron">
    <ngb-tabset>
        <ngb-tab title="Current tasks" id="1">
            <template ngbTabContent>
                <!--NO TASKS ALERT-->
                <div class="alert alert-info" role="alert" *ngIf="!currentTasksPresent()">
                    You have no active tasks
                </div>
                <div class="hidden-sm-down">
                    <kanban-board *ngIf="currentTasksPresent()" [boardTasks]="tasks | currentTaskFilter"
                                  (tasksChanged)="reloadTasks($event)"></kanban-board>
                </div>
                <div class="hidden-md-up">
                    <h3 class="dnf-mobile-header">New Tasks</h3>
                    <task-list [editable]="true"
                               [taskList]="tasks | currentTaskFilter | taskStateFilter:newTaskState"
                               (tasksChanged)="reloadTasks($event)">

                    </task-list>

                    <h3 class="dnf-mobile-header">Tasks In Progress</h3>
                    <task-list [editable]="true"
                               [taskList]="tasks | currentTaskFilter | taskStateFilter:inProgressTaskState"
                               (tasksChanged)="reloadTasks($event)">

                    </task-list>

                    <h3 class="dnf-mobile-header">Tasks Finished</h3>
                    <task-list [editable]="true"
                               [taskList]="tasks | currentTaskFilter | taskStateFilter:finishedTaskState"
                               (tasksChanged)="reloadTasks($event)">

                    </task-list>

                </div>
            </template>
        </ngb-tab>
        <ngb-tab title="Historical tasks" id="2">
            <template ngbTabContent>
                <!--NO HISTORICAL TASKS ALERT-->
                <div class="alert alert-info" role="alert" *ngIf="!historicalTasksPresent()">
                    You have no historical tasks
                </div>

                <div class="hidden-sm-down">
                    <kanban-board *ngIf="historicalTasksPresent()" [boardTasks]="tasks | historicalTaskFilter"
                                  (tasksChanged)="reloadTasks($event)" [editable]="false"></kanban-board>
                </div>

                <div class="hidden-md-up">
                    <h3 class="dnf-mobile-header">New Tasks</h3>
                    <task-list [editable]="false"
                               [taskList]="tasks | historicalTaskFilter | taskStateFilter:newTaskState"
                               (tasksChanged)="reloadTasks($event)">

                    </task-list>

                    <h3 class="dnf-mobile-header">Tasks In Progress</h3>
                    <task-list [editable]="false"
                               [taskList]="tasks | historicalTaskFilter | taskStateFilter:inProgressTaskState"
                               (tasksChanged)="reloadTasks($event)">

                    </task-list>

                    <h3 class="dnf-mobile-header">Tasks Finished</h3>
                    <task-list [editable]="false"
                               [taskList]="tasks | historicalTaskFilter | taskStateFilter:finishedTaskState"
                               (tasksChanged)="reloadTasks($event)">

                    </task-list>
                </div>

            </template>
        </ngb-tab>
    </ngb-tabset>

</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Expired tasks</h4>
        <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body bg-faded">
        <expired-tasks-list
                (alertEmited)="alertEventHandle($event)"
                [expired-tasks]="recentlyExpiredTasks">
        </expired-tasks-list>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>



