.dnf-input {
    margin-top: 1em;
    margin-bottom: 1em;
}

.dnf-no-border-radius-left {
     border-top-left-radius: 0;
     border-bottom-left-radius: 0;
}

.dnf-no-border-radius-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dnf-no-border-left {
    border-left: 0;
}

.dnf-no-border-right {
    border-right: 0;
}

.dnf-center-margin {
    text-align: center;
    margin: 5px;
}

.dnf-very-low-priority {
    border: 1px green;
}

.dnf-low-priority {
    border: 1px greenyellow;
}

.dnf-medium-priority {
    border: 1px yellow;
}

.dnf-high-priority {
    border: 1px red;
}

.dnf-urgent-priority {
    border: 1px darkred;
}