.dnf-input {
    margin-top: 1em;
    margin-bottom: 1em;
}

.dnf-no-border-radius-left {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.dnf-no-border-radius-right {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dnf-no-border-left {
    border-left: 0;
}

.dnf-no-border-right {
    border-right: 0;
}

.dnf-center-margin {
    text-align: center;
    margin: 5px;
}

.dnf-mobile-header {
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: solid 2px white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.dnf-center-element {
    float: none;
    margin: 0 auto;
}

.dnf-right-element {
    float: right !important;
}