<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarColor01" (click)="isCollapsed = !isCollapsed"
            aria-controls="navbarColor01" [attr.aria-expanded]="isCollapsed" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Do not forget!</a>

    <div class="collapse navbar-collapse"  [ngbCollapse]="isCollapsed" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li *ngFor="let navElement of navElements" [ngClass]="getClassForNav(navElement)">
                <a class="nav-link" [href]="navElement.link">{{navElement.name}}<span
                        class="sr-only">(current)</span></a>
            </li>
            <li *ngIf="userInfo" class="nav-item dropdown ml-3" ngbDropdown #myDrop="ngbDropdown">
                <a class="nav-link dropdown-toggle"
                   id="dropDownMenu"
                   ngbDropdownToggle
                >
                    {{userInfo.name}} {{userInfo.surname}}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropDownMenu">
                    <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
                </div>
            </li>
        </ul>


    </div>
</nav>