<div class="card">
    <div class="card-block">
        <h4 class="card-title">{{task.title}}</h4>
        <p class="card-text">{{task.description}}</p>
        <a class="card-link">Deaedline: {{getDate(task.deadLine)}}</a>
        <a class="card-link">Added date: {{getDate(task.addedDate)}}</a>
        <a class="card-link">Estimate time: {{task.estimateTime}} mins</a>
        <a class="card-link">Spend time: {{task.spendTime}} mins</a>
        <a class="card-link">Priority: {{task.priority}}</a>
        <a class="card-link">{{getState(task.state)}}</a>
    </div>
</div>