<div class="card">
    <div class="card-block">
        <h3 class="card-title">{{task.title}}</h3>
        <h4 class="card-text">{{task.description}}</h4>
        <h4 class="card-text">Deadline: {{getDate(task.deadLine)}}</h4>
        <h4 class="card-text">Added date: {{getDate(task.addedDate)}}</h4>
        <h4 class="card-text">Estimate time: {{task.estimateTime}} mins</h4>
        <h4 class="card-text">Spend time: {{task.spendTime}} mins</h4>
        <h4 class="card-text">Priority: {{task.priority}}</h4>
        <h4 *ngIf="showState" class="card-text">{{getState(task.state)}}</h4>
    </div>
</div>